.DS_Store
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
project.xcworkspace
xcuserdata
.idea
*.iml

Android/bin
Android/gen
Android/libs/armeabi
Android/libs/x86
Android/obj

venv
Android/app/release

